.navbar{
  height: 50px;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #582117dd, #2f1018);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo{
  font-weight: 500;
  text-decoration: none;
}
.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  border-radius: 5px;
  
}


